:root {
--darkBlue: #153c92;
--lightBlue: #9dd3e9;
}

body {
  font-family: 'Aldrich', sans-serif;
  font-weight: 400;
  background-color: black;
  color: var(--darkBlue);
}

.jumbotron {
  background-color: var(--lightBlue);
}

main section {
  border: 3px solid var(--darkBlue);
}

textarea {
  width: 70%;
  margin-left: 10%;
  background: transparent;
  resize: none;
  border: 2px solid var(--darkBlue);
  border-radius: 5%;
  color: var(--lightBlue);
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

button {
  background: transparent;
  border: 1px solid var(--darkBlue);
  border-radius: 5%;
  color: var(--lightBlue);
  margin-left: 1px;
}

hr {
  border: .25px solid var(--darkBlue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}