:root {
--darkBlue: #153c92;
--lightBlue: #9dd3e9;
--flatPink: #9c94c7;
}

body {
  font-family: 'Aldrich', sans-serif;
  font-weight: 400;
  background-color: black;
  color: var(--darkBlue);
}

.jumbotron {
  background-color: var(--lightBlue);
}

main section {
  border: 3px solid var(--darkBlue);
}

textarea {
  width: 70%;
  margin-left: 5px;
  margin-right: 5px;
  background: transparent;
  resize: none;
  border: 2px solid var(--darkBlue);
  border-radius: 5%;
  color: var(--lightBlue);
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

.saveBtn {
  background: transparent;
  border: 1px solid var(--darkBlue);
  border-radius: 5%;
  color: var(--lightBlue);
  margin-left: 1px;
}
@media screen and (max-width: 767px){
  .saveBtn {
    margin-top: 2px;
    margin-left: 40%;
  }
}

.saveBtn:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.clearBtn {
  background: transparent;
  border: 1px solid var(--darkBlue);
  border-radius: 5%;
  color: red;
  margin-left: 1px;
}

@media screen and (max-width:1200px){
  .clearBtn {
    margin-left:50%;

  }
}

@media screen and (max-width: 767px){
  .clearBtn {
    margin-top: 2px;
    margin-left: 40%;
  }
}

.clearBtn:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.timeBlock{
  border-right:  1px dotted var(--darkBlue);
  border-bottom: 1px dotted var(--darkBlue);
  margin-left: 5%;
  margin-top: 25px;
} 
@media screen and  (max-width: 800px){
  .timeBlock{
    font-size: 12px;
    text-align: left;
  }
}

.hour {
  background-color: transparent;
  color: var(--darkBlue)
}

.past {
  background-color: var(--darkBlue);
  color: var(--lightBlue);
  border: 2px solid darkcyan;
}

.present {
  background-color: var(--flatPink);
  color: var(--darkBlue);
  border: 2px solid violet;
}

.future {
  background-color: indigo;
  color: var(--lightBlue);
}

hr {
  border: .25px solid var(--darkBlue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}